body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: url('../img/rmx_ia_4k_transparent.png');
    background-size: cover;
    background-position: center;
}

.construction-wrapper {
    text-align: center;
}

h1 {
    color: #01e279;
}

p {
    color: #fb31af;
}

#countdown {
    font-size: 24px;
    color: #999;
    margin-top: 20px;
}
